<template>
  <div class="character-page">
    <div class="container" v-if="character">
      <div class="row" >
        <div class="picture">
          <img :src="character.picture" />
          <p>{{character.name}}</p>
        </div>
      </div>
      <div class="row text" >
        <div class="col s12">
          <div
            v-for="element in character.textContent"
            :key="element._id"
          >
            <h2
              v-if="element.tag==='h2' && !element.content.toLowerCase().includes('references')"
            >
              {{element.content}}
            </h2>
            <p v-if="element.tag==='p' || element.tag==='ul'">{{element.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      character: null
    };
  },
  async created() {
    try {
      const response = await axios.get(
        `https://shielded-reaches-28619.herokuapp.com/characters/${
          this.$route.params.id
        }`
      );
      this.character = response.data;
    } catch (err) {
      console.log(err);
    }
  }
};
</script>

<style lang="scss" scoped>
.character-page {
  padding-top: 2rem;
  .picture {
    img {
      border-radius: 50%;
    }
    text-align: center;
  }
}
</style>

