<template>
  <div class="homepage">
    <div class="container">
      <loader v-if="loading"/>
      <div v-if="!loading">
        <div class="row">
          <h2 class="col s12">
            Scrapper status
          </h2>
          <status-box
            v-if="lastUpdate"
            :lastUpdate="lastUpdate"
          />
        </div>
        <div class="row">
          <h2 class="col s12">
            Naruto characters
          </h2>
          <search-card
            :search-callback="searchCallback"
          />
          <character-card
            v-for="character in filteredCharacters"
            :key="character._id"
            :character="character"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StatusBox from "@/components/StatusBox";
import CharacterCard from "@/components/CharacterCard";
import SearchCard from "@/components/SearchCard";
import Loader from "@/components/Loader";
import axios from "axios";

export default {
  name: "home",
  data() {
    return {
      lastUpdate: null,
      filteredCharacters: [],
      loading: true
    };
  },
  components: {
    StatusBox,
    CharacterCard,
    SearchCard,
    Loader
  },
  async created() {
    try {
      const response = await axios.get(
        "https://shielded-reaches-28619.herokuapp.com/characters"
      );
      this.characters = response.data;
      this.filteredCharacters = this.characters;
    } catch (err) {
      console.log(err);
    }
    try {
      const response = await axios.get(
        "https://shielded-reaches-28619.herokuapp.com/last-update"
      );
      this.lastUpdate = response.data;
    } catch (err) {
      console.log(err);
    }
    if (this.lastUpdate && this.characters) {
      this.loading = false;
    }
  },
  methods: {
    searchCallback: function(text) {
      this.filteredCharacters = this.characters.filter(character => {
        return character.name.toLowerCase().includes(text);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.homepage {
  padding-top: 2rem;
}
</style>
