<template>
  <router-link
    :to="`/characters/${character._id}`"
    class="character-card col m4 s12"
  >
    <div class="card">
      <div
        class="image"
        v-lazy:background-image="characterPicture" />
      <div class="card-content">
        <p>{{character.name}}</p>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
      required: true
    }
  },
  computed: {
    characterPicture: function() {
      if (this.character.picture) return this.character.picture;
      return "https://firebasestorage.googleapis.com/v0/b/covela-front.appspot.com/o/ninja.png?alt=media&token=06ebde7f-1bb0-45e4-bd4c-193f4a81048b";
    }
  }
};
</script>

<style lang="scss" scoped>
.character-card {
  padding: 1rem;
  color: black;
  .card {
    padding: 0;
  }
  .image {
    height: 150px;
    background-size: cover;
  }
}
</style>
