<template>
  <nav>
    <div class="nav-wrapper">
      <router-link to="/" class="brand-logo">
        <img src="https://firebasestorage.googleapis.com/v0/b/covela-front.appspot.com/o/8c902f19516cb54544375ad150a49ac5.png?alt=media&token=904757b3-04fd-4dd9-b1b2-15b4d3f74e91" alt="naruto-logo">
      </router-link>
    </div>
  </nav>
</template>
<style lang="scss" scoped>
nav {
  background-color: white;
}
</style>
