<template>
  <div class="loader">
    <div class="row">
      <div class="col s3 push-s5">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-grey-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.loader {
  padding-top: 30vh;
  height: 80vh;
  .spinner-grey-only {
    border-color: #717171;
  }
}
</style>
