<template>
  <div class="search-card">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form @submit.prevent="searchCallback(searchText)" class="input-field col s12">
            <i class="fal fa-search prefix fa-xs"></i>
            <input
              id="search"
              type="search"
              v-model="searchText"
              autocomplete="off"
              @keyup="searchCallback(searchText)"
              placeholder="Search for characters" >
            <button type="submit" id="searchsubmit">search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "materialize-css/dist/js/materialize.js";

export default {
  props: {
    searchCallback: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      searchText: null
    };
  }
};
</script>

<style lang="scss" scoped>
.search-card {
  .card-content {
    padding: 10px 0;
    .input-field {
      button#searchsubmit {
        position: absolute;
        top: 0px;
        right: 0px;
        display: none;
      }
      margin: 0;
      .prefix {
        color: #717171;
        font-size: 1.3rem;
        top: 10px;
        & ~ input {
          margin-bottom: 0;
          border-bottom: none;
          &:focus + label {
            color: black;
          }
        }
      }
    }
  }
}
</style>
