<template>
  <div class="status-box">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="col s6 m8">
            Last update {{updateDate}}
          </div>
          <div class="col s6 m4 status">
            <p :class="status">
              <i class="fas fa-circle"></i>{{status}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  props: {
    lastUpdate: {
      type: Object,
      required: true
    }
  },
  computed: {
    status: function () {
      const status = this.lastUpdate.success ? "success" : "failure";
      return status;
    },
    updateDate: function() {
      const date = moment(this.lastUpdate.created_at, "YYYYMMDD").fromNow();
      return date;
    }
  }
};
</script>

<style lang="scss" scoped>
.status {
  p {
    float: right;
    color: red;
    i {
      font-size: 10px;
      margin-right: 5px;
    }
    &.success {
      color: green;
    }
  }
}
</style>
