<template>
  <div id="app">
    <my-header />
    <router-view/>
  </div>
</template>
<script>
import MyHeader from "@/components/Header";
export default {
  components: {
    MyHeader
  }
};
</script>

<style lang="scss">
@import "./sass.config.scss";
</style>
